/* Banner */
.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('../images/banner2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#grad-top {
    background: rgba(34, 37, 41, 0) linear-gradient(to bottom, rgba(34, 37, 41, 0) 10%, rgba(26, 26, 26, .1) 40%, rgba(26, 26, 26, .5) 75%, rgba(26, 26, 26, 1) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -200px;
    height: 200px;
}
#grad-bottom {
    background: rgba(34, 37, 41, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(34, 37, 41, .1) 40%, rgba(34, 37, 41, .5) 75%, rgba(34, 37, 41, 1) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -200px;
    height: 200px;
}

/* Page body and widget config */
body {
    padding-top:50px;
    background-color: #222529;
}
.widget {
    width: auto;
    height: 50%;
}


/* Flipping cards */
.container .card{
  position: relative;
  background: #222529;
  border-radius: 25px;
}
.container .card .face{
  width:300px;
  height: 250px;
  transition:.4s;
  border-radius: 25px;
}
.container .card .face.face1{
  position: relative;
  background: #222529;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.container .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}
.container .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;
}
.container .card:hover .face.face1 .content{
  opacity: 1;
}
.container .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
}
.container .card .face.face1 .content h3{
  font-size: 1em;
  color: white;
  text-align: center;
}
.container .card .face.face1 .content a{
   transition: .5s;
}
.container .card .face.face2{
   position: relative;
   background: #222529;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p, a{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color: white/*#333*/;
}
.container .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}
.container .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}


/* TEXT */
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-submit {
  background-color: #506798 !important;
  border-color: #506798 !important;
  color: white !important;
}

.outlined {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        0   -1px 0 #000,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
}


a:hover {
    color: white/*#FEF6A0*/;
}
.glitch {
	 font-size: 3.125em;
	 font-weight: 700;
	 text-decoration: none;
	 text-transform: uppercase;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 margin: 0;
	 color: #fff;
	 letter-spacing: 5px;
}
 .glitch:before, .glitch:after {
	 display: block;
	 content: attr(data-glitch);
	 text-transform: uppercase;
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 opacity: 0.8;
}
 .glitch:after {
	 color: crimson/*#d878f2 #f0f*/;
	 z-index: -2;
}
 .glitch:before {
	 color: aqua/*#b9b4f2 #0ff*/;
	 z-index: -1;
}
 .glitch:hover:before {
	 animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
 .glitch:hover:after {
	 animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}
 @media only screen and (max-width: 400px) {
	 .glitch {
		 font-size: 3em;
	}
}
 @keyframes glitch {
	 0% {
		 transform: translate(0);
	}
	 20% {
		 transform: translate(-5px, 5px);
	}
	 40% {
		 transform: translate(-5px, -5px);
	}
	 60% {
		 transform: translate(5px, 5px);
	}
	 80% {
		 transform: translate(5px, -5px);
	}
	 to {
		 transform: translate(0);
	}
}




/* Random gradient */
#grad1 {
    /*height: 300px;*/
    background-color: black;
    background-image: linear-gradient(black, #222529);
}

/* TESTS */
#aboutus {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../images/bot.png');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
}


/*
<svg viewBox="0 0 450 50">
    <text y="50">Scalable Title</text>
</svg>
*/
svg{
    font   : bold 70px Century Gothic, Arial;
    width  : 100%;
    height : 120px;
}
text{
    fill            : none;
    stroke          : black;
    stroke-width    : .5px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
}
@keyframes pulsate {
    50%{ stroke-width:5px }
}
